/node_modules
types/*

.env
.env.staging.local
.env.production.local
combined.log
error.log
/dist
/certs
/docs

# yarn (zero install ignores, even though we don't use it, it allows for faster installs)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
