{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "esnext",
    "parser": {
      "decorators": true,
      "syntax": "typescript"
    },
    "baseUrl": ".",
    "paths": {
      "@bot/*": ["./src/bot/*"],
      "@commands/*": ["./src/commands/*"],
      "@config/*": ["./src/config/*"],
      "@constants/*": ["./src/constants/*"],
      "@db/*": ["./src/db/*"],
      "@lib/*": ["./src/lib/*"],
      "@middleware/*": ["./src/middleware/*"],
      "@routes/*": ["./src/routes/*"],
      "@services/*": ["./src/services/*"],
      "@utils/*": ["./src/utils/*"]
    }
  },
  "sourceMaps": true
}
